@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Resetear estilos por defecto */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hacemos que cada elemente ocupe siempre su lugar */
html, body {
  height: 100%;
  overflow: auto;
}
.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 100px; /* Altura del footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* Altura del footer */
}

/* Definir variables CSS */
:root {
  --font-default: Arial, Helvetica, sans-serif;
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(255, 255, 255);
  --color-green: green;
  --color-red: red;
}

/* Estilos aplicados a nivel global */
html {
  display: flex;
  flex-direction: column;
  background-image: url('../svg/background.svg');
  background-repeat: repeat;
  background-size: auto auto;
  background-position: center;
}


html, body {
  text-align: center;
  color: var(--color-primary);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/Fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Estilos del encabezado */
header {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

header h1 {
  font-size: 3rem;
  font-family: 'Gluten', cursive;
  -webkit-text-stroke: 2px black;
  color: var(--color-secondary);
  text-shadow: 2px 2px black;
  animation: animateTitle 2s ease infinite;
  position: fixed;
  top: 3;
  right: 40%;
}


@keyframes animateTitle {
  0% {
    transform: translateY(0) skewX(0) skewY(0) rotate(0) scale(1);
    color: red;
  }
  25% {
    transform: translateY(-2px) skewX(-5deg) skewY(0) rotate(-2deg) scale(1.1);
    color: rgb(246, 255, 0);
  }
  50% {
    transform: translateY(0) skewX(0) skewY(0) rotate(0) scale(1);
    color: rgb(0, 255, 26);
  }
  75% {
    transform: translateY(-2px) skewX(5deg) skewY(0) rotate(2deg) scale(1.1);
    color: rgb(0, 50, 252);
  }
  100% {
    transform: translateY(0) skewX(0) skewY(0) rotate(0) scale(1);
    color: rgb(217, 0, 255);
  }
}

.play {
  position: relative;
}

.play #MusicPlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.play #MusicPlay:hover {
  animation: Tiembla 0.5s infinite;
}

.play #MusicPause {
  position: absolute;
  top: 0;
  left: 50px;
  padding: 10px;
  border-radius: 5px;
}

.play #MusicPause:hover {
  animation: Tiembla 0.5s infinite;
}

img {
  width: 20px;
  height: 20px;
}

/* Estilos del contenido principal */
main {
  width: 95%;
  margin: 0 auto;
}

main h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: 'Gluten', cursive;
  background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00, #ff0, #0f0, #0ff, #00f, #f0f);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateText 10s linear infinite;
  -webkit-text-stroke: 1px black;

}

@keyframes animateText {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Selector de colores */
#rgb {
  border-radius: 5px;
  font-size: 3.2rem;
  -webkit-text-stroke: 2px black;
  font-family: 'Gluten', cursive;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#rgbrepresentado {
  width: 40%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  z-index: 0;
}
div {
  padding: 1rem;
}

#colores {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Ponemos una animaciÃ³n cuando se seleccionan los colores */


#colores > div:hover {
  transform: scale(1.2);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

#colores > div {
  width: calc(40% - 1rem);
  margin: 0.5rem;
  height: 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.validacion {
  margin-top: 2rem;
  padding: 0;
}

#contador, #temporizador {
  margin-top: 1rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#temporizador {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgba(126, 82, 82, 0.5);
  color: rgb(0, 12, 5);
  font-weight: bold;
  max-width: 50%;
}

#opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  }

.opcion {
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.opcion:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#aciertos {
  color: var(--color-green);
  font-weight: bold;
  margin-right: 1rem;
  font-family: 'Gluten', cursive;
}

#fallos {
  color: var(--color-red);
  font-weight: bold;
  font-family: 'Gluten', cursive;
}

.hidden {
  display: none;
}

#modeA , #openModal {
  background-color: #FF7F50;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: 'Gluten', cursive;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#modeA:hover, #openModal:hover {
  background-color: #ff2600;
  animation: Tiembla 0.5s infinite;
}

#modeP {
  background-color: #53c555;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: 'Gluten', cursive;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#modeP:hover {
  background-color: #02ca06;
  animation: Tiembla 0.5s infinite;
}


#reset {
  background-color: #5099ff;
  border-radius: 10px;
  font-family: 'Gluten', cursive;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#reset:hover {
  background-color: #015eff;
  animation: Tiembla 0.5s infinite;
}

/* tabla */

table {
  margin: 0 auto;
  background: linear-gradient(to bottom right, #ff0080, #ff8c00, #ffef00, #00ff00, #00ffff, #0000ff, #8b00ff);
  width: 50% !important;
}

tr {
  color: white;
  text-align: center;
}

td {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Gluten', cursive;
  text-align: center;
}

td:hover {
  animation: color-change 1s ease-in-out infinite;
}

@keyframes color-change {
  0% {background-color: #ff0080;}
  17% {background-color: #ff8c00;}
  34% {background-color: #ffef00;}
  51% {background-color: #00ff00;}
  68% {background-color: #00ffff;}
  85% {background-color: #0000ff;}
  100% {background-color: #8b00ff;}
}

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 0.8rem;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #ff0080;
}

/* MODAL */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog--open {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(to right, #ff3c00, #ff8c00, #ffbb00, #faff00, #9fff00, #00ff6d, #00ffe6, #0091ff, #7b00ff, #ff00dd, #ff006e, #ff3c00);
	display: flex;
  font-family: 'Gluten', cursive;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

.modalDialog,
.modalDialog > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

#modalInfo .close {
  top: 0;
  right: 0;
}


.close:hover {
  background: #00d9ff;
}

section {
  padding: 1rem;
}

section > div > p {
  font-weight: bold;
  padding: 0.5rem;
  color:rgb(0, 12, 5)
}

@keyframes Tiembla {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px) rotate(-5deg); }
  40% { transform: translateX(5px) rotate(5deg); }
  60% { transform: translateX(-5px) rotate(-5deg); }
  80% { transform: translateX(5px) rotate(5deg); }
  100% { transform: translateX(0); }
}



@media screen and (max-width: 1280px) {
  header h1 {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px black;
    color: var(--color-secondary);
    text-shadow: none;
    min-height: 50px;
    background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00, #ff0, #0f0, #0ff, #00f, #f0f);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:  animateText 10s linear infinite;
    position: fixed;
    top: 0;
    right: 33%;
  }

  .play #MusicPause:hover {
    animation: none;
  }

  .play #MusicPause:active {
    animation: Tiembla 0.5s infinite;
  }
  
  .play #MusicPlay:hover {
    animation: none;
  }

  .play #MusicPlay:active {
    animation: Tiembla 0.5s infinite;
  }

  #colores > div:hover {
    transform: initital;
    border-radius: initial;
    transition: none;
  }

  #colores > div:active {
    transform: scale(1.2);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

  .opcion:hover {
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .opcion:active {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }

  #reset:hover {
  background-color: #5099ff;
  border-radius: 10px;
  font-family: 'Gluten', cursive;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  animation: none;
}

  #reset:active {
  background-color: #015eff;
  animation: Tiembla 0.5s infinite;
  }

  td:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Gluten', cursive;
  text-align: center;
  animation: none;
  }
  
  td:active {
    animation: color-change 1s ease-in-out infinite;
  }
  #modeA:hover, #openModal:hover {
    background-color: #FF7F50;
    animation: none
  }
  #modeA:active, #openModal:active {
    background-color: #ff2600;
    animation: Tiembla 0.5s infinite;
  }
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2.2rem;
    -webkit-text-stroke: 1px black;
    color: var(--color-secondary);
    text-shadow: none;
    min-height: 50px;
    background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00, #ff0, #0f0, #0ff, #00f, #f0f);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:  animateText 10s linear infinite;
    position: fixed;
    top: 0;
    right: 0;
}


  main h2 {
    font-size: 1.5rem;
  }

  #rgb {
    border-radius: 4px;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  #temporizador {
    max-width: 50% !important;
  }

  table {
    width: 80% !important;
  }

  .play #MusicPause:hover {
    animation: none;
  }

  .play #MusicPause:active {
    animation: Tiembla 0.5s infinite;
  }
  
  .play #MusicPlay:hover {
    animation: none;
  }

  .play #MusicPlay:active {
    animation: Tiembla 0.5s infinite;
  }

  #colores > div:hover {
    transform: initital;
    border-radius: initial;
    transition: none;
  }

  #colores > div:active {
    transform: scale(1.2);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .opcion:hover {
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .opcion:active {
    transform: scale(1.05);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }

  #reset:hover {
    background-color: #5099ff;
    border-radius: 10px;
    font-family: 'Gluten', cursive;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    animation: none;
  }

  #reset:active {
    background-color: #015eff;
    animation: Tiembla 0.5s infinite;
  }

  td:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Gluten', cursive;
    text-align: center;
    animation: none;
  }

  td:active {
    animation: color-change 1s ease-in-out infinite;
  }

  #modeA:hover, #openModal:hover {
    background-color: #FF7F50;
    animation: none
  }

  #modeA:active, #openModal:active {
    background-color: #ff2600;
    animation: Tiembla 0.5s infinite;
  }
}

@media screen and (max-width: 480px) {
header h1 {
  font-size: 1.5rem;
  color: var(--color-secondary);
  min-height: 30px;
  -webkit-text-stroke: 1px black;
  text-shadow: none;
  background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00, #ff0, #0f0, #0ff, #00f, #f0f);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:  animateText 10s linear infinite;
  position: fixed;
  top: 3;
  right: 0;
  }
  main h2 {
  font-size: 1.2rem;
  }
  #rgb {
    border-radius: 3px;
    font-size: 1.4rem;
    -webkit-text-stroke: 1px black;
    font-family: 'Gluten', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #temporizador {
    max-width: 30% !important;
  }
  table {
    width: 100% !important;
  }
  .play #MusicPause:hover {
    animation: none;
  }

  .play #MusicPause:active {
    animation: Tiembla 0.5s infinite;
  }
  
  .play #MusicPlay:hover {
    animation: none;
  }

  .play #MusicPlay:active {
    animation: Tiembla 0.5s infinite;
  }
  
  #colores > div:hover {
    transform: initital;
    border-radius: initial;
    transition: none;
  }
  
  #colores > div:active {
    transform: scale(1.2);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  
  .opcion:hover {
    padding: 0.5rem 1rem;
background-color: var(--color-secondary);
color: white;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
  }
  .opcion:active {
    transform: scale(1.05);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  #reset:hover {
    background-color: #5099ff;
    border-radius: 10px;
    font-family: 'Gluten', cursive;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    animation: none;
  }
  
  #reset:active {
    background-color: #015eff;
    animation: Tiembla 0.5s infinite;
  }
  td:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Gluten', cursive;
    text-align: center;
    animation: none;
    }
    td:active {
      animation: color-change 1s ease-in-out infinite;
    }
    #modeA:hover, #openModal:hover {
      background-color: #FF7F50;
      animation: none
    }
    #modeA:active, #openModal:active {
      background-color: #ff2600;
      animation: Tiembla 0.5s infinite;
    }
}
  @media screen and (max-width: 290px) {
header h1 {
  font-size: 1rem;
  color: var(--color-secondary);
  min-height: 30px;
  -webkit-text-stroke: 1px black;
  text-shadow: none;
  background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00, #ff0, #0f0, #0ff, #00f, #f0f);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:  animateText 10s linear infinite;
  position: absolute;
  top: 5;
  right: 0;
  }
  main h2 {
  font-size: 1rem;
  }
  #rgb {
    border-radius: 3px;
    font-size: 1rem;
    -webkit-text-stroke: 1px black;
    font-family: 'Gluten', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #temporizador {
    max-width: 30% !important;
  }
  table {
    width: 100% !important;
  }
  .play #MusicPause:hover {
    animation: none;
  }

  .play #MusicPause:active {
    animation: Tiembla 0.5s infinite;
  }
  
  .play #MusicPlay:hover {
    animation: none;
  }

  .play #MusicPlay:active {
    animation: Tiembla 0.5s infinite;
  }
  
  #colores > div:hover {
    transform: initital;
    border-radius: initial;
    transition: none;
  }
  
  #colores > div:active {
    transform: scale(1.2);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  
  .opcion:hover {
    padding: 0.5rem 1rem;
background-color: var(--color-secondary);
color: white;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
  }
  .opcion:active {
    transform: scale(1.05);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  #reset:hover {
    background-color: #5099ff;
    border-radius: 10px;
    font-family: 'Gluten', cursive;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    animation: none;
  }
  
  #reset:active {
    background-color: #015eff;
    animation: Tiembla 0.5s infinite;
  }
  td:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Gluten', cursive;
    text-align: center;
    animation: none;
    }
    td:active {
      animation: color-change 1s ease-in-out infinite;
    }
    #modeA:hover, #openModal:hover {
      background-color: #FF7F50;
      animation: none
    }
    #modeA:active, #openModal:active {
      background-color: #ff2600;
      animation: Tiembla 0.5s infinite;
    }

}